---
layout: default
---

#about
  section
    h2 Hi!

    img.portrait src="{{ root_url }}/images/ken.jpg" alt="It's supposed to be my picture."

    .p
      | My name is Ken Shimizu. I am a <span class='strikethrough'>Junior</span> Web Developer at <a href='http://carbonfive.com/employee/ken-shimizu'>Carbon Five</a> and a former <a href='http://carbonfive.com/employee/ken-shimizu'>Dev Bootcamp graduate</a> living in San Francisco, CA.

    .p My skill set includes Ruby/Rails, Javascript/AngularJS, CSS/SCSS, and SQL. I am also proficient in copy/pasting my resume text and overexplaining simple concepts.

    .p I am a music nut, amateur cook, top 10 NHL 2010 player for XBox 360, traveller, bay area sports fan, and humble software engineer.

  section
    h2 What is this?

    .p A blog for beginners by a beginner.
